:root {
    --background: aquamarine;
}



*{
    background-color: coral;
}
body{
    margin: 0;
}

header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: var(--background);
}
.logo{
    padding: 1.5em;
    background-color: var(--background);
}
img{
    width: 20vw;
    background-color: var(--background);
}
.menu{
    display: flex;
    align-items: center;
    padding: 2em;
    background-color: var(--background);
}
.list{
    padding: 0;
    list-style: none;
    
}
.list li {
    padding: 2em;
    display: inline-block;
}
.list li a{
    color: white;
    font-weight: 500;
    font-size: 1.5rem;
    text-decoration: none;
}